body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3e8e41;;
    overflow: hidden;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* loading icon - with animation */
.loading-icon {
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 20px;
    font-size: 10px;
    color: white;
    font-family:  'Jersey 25', sans-serif;
    font-weight: 400;
}
/* loading icon - keyframes for animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}